@import "assets/constants";

.App {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 $marginOrPadding;

  &__header {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    background-color: #C5AF6A;
    height: 150px;
    width: 100%;
    padding: $marginOrPadding;
    color: $whiteColor;
  }

  &__logo {
    animation: App-logo-moving infinite 20s linear;
    height: 80px;
  }

  &__body {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    padding: $marginOrPadding;
    height: 100%;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &__nav {
    &-row {
      display: flex;
      align-items: center;
      text-wrap: avoid;
      min-height: 52px;

      &+& {
        margin-top: $marginOrPadding;
      }
    }
  }

  &__grid {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
    margin-top: $marginOrPadding;
    width: calc((60px + 2px) * 5);
    border: calc(62px / 2) solid rgb($grey, 0);
    background-color: rgb($grey, 0.5);

    &-cell {
      width: 60px;
      height: 60px;
      background-color: transparent;
      border: 1px solid $whiteColor;
      flex-basis: calc((100% - 5*2px) / 5);
    }
  }

  &__robot {
    background-image: url('assets/robot-up.svg');
    display: inline-block;
    position: absolute;
    user-select: none;
    padding: 0;
    border: none;
    outline: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 62px;
    height: 62px;
    transition: all 1000ms ease-in-out;
  }
}

@keyframes App-logo-moving {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
